/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
    width: 100px; /* Logo width */
    margin-bottom: 20px; /* Space below the logo */
    border-radius: 50%; /* Round the logo */
    padding: 5px; /* Padding for subtle effect */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Enhanced shadow for depth */
}

/* Heading Styles */
h1 {
    margin-bottom: 20px;
    color: #007BFF; /* Bright color for the heading */
    text-align: center; /* Center the heading */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
}

/* Input and Button Styles */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #555; /* Darker label color */
    text-align: right; /* Align label text to the right */
}

input[type="text"],
input[type="number"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; /* Transition for focus */
}

input:focus {
    border-color: #007BFF;
    outline: none; /* Remove outline on focus */
}

button {
    display: block; /* Make the button a block element */
    margin: 20px auto; /* Center the button */
    padding: 10px 15px;
    background: linear-gradient(90deg, #007BFF, #0056b3); /* Gradient button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for button */
    transition: background 0.3s; /* Smooth transition for hover */
}

button:hover {
    background: linear-gradient(90deg, #0056b3, #004494); /* Darker gradient on hover */
}

/* Result and Latency Chart Container Styles */
#resultContainer {
    display: flex; /* Use flexbox for inline display */
    justify-content: space-between; /* Space between sections */
    margin: 20px 0; /* Margin for spacing */
}

#result,
#latencyChartContainer {
    flex: 1; /* Take up available space */
    padding: 15px; /* Padding for better readability */
    border-radius: 8px; /* More rounded corners */
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#result {
    margin-right: 20px; /* Space between result and latency chart */
    font-size: 1.2em;
    text-align: center;
    background-color: #e9f7fe; /* Light blue background for results */
    border: 1px solid #007BFF; /* Border to define the results area */
}

/* Latency Chart Container */
#latencyChartContainer {
    display: flex; /* Flex display to center the canvas */
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    background-color: #fff; /* White background for the chart container */
}

/* Canvas Styles */
canvas {
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Maximum height for the chart */
    border: 1px solid #ccc; /* Light border around the canvas */
    border-radius: 4px; /* Rounded corners for the canvas */
    background-color: #fff; /* White background for the canvas */
}

    /* Table Styles */
table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
    margin-top: 20px; /* Space above the table */
}

th, td {
    padding: 10px; /* Padding inside table cells */
    border: 1px solid #ddd; /* Light border for table cells */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #007BFF; /* Header background color */
    color: white; /* Header text color */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for even rows */
}

tr:hover {
    background-color: #e0eafc; /* Highlight row on hover */
}

/* Loader Styles */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it appears above other elements */
}